<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/script/jquery-3.6.0.min.js"></script>
    <script src="/static/script/bootstrap.min.js"></script>
    <script src="/static/script/main.js"></script>
    <link href="/static/style/bootstrap.min.css" rel="stylesheet">
    <link href="/static/style/style.css" rel="stylesheet">
    <title>Americanas SA</title>
</head>

<body>
    <section class="secTitle">
        <div class="divTitleAbout">
            <p>Teste Técnico - Americanas SA</p>
        </div>
    </section>

    <section class="secBody">
        <div class="container">
            <div style="text-align: center;">
                <div class="separator_black">Carregamento dos Dados</div><br/>
            </div>
            <div id="divUpload">


                <div id="uploadText">
                    <p>Cole o texto em formato .CSV (Separado por vígula ou ponto e vírgula)</p>
                    <textarea id="textArea"></textarea>
                </div>

                <div id="uploadOr">
                    <p>
                        ou
                    </p>
                </div>

                <div id="uploadFile">
                    <p>Selecione o arquivo .CSV com ou sem o atributo target</p>
                    <input type="file" class="form-control" id="file" name="file" />
                </div>

            </div>

            <div>
                <div style="width: 20%; margin: auto;">
                    <input type="button" class="form-control" id="btnImportar" value="Importar Dados" />
                </div>
            </div>

            <div style="text-align: center;">
                <div class="separator_black">Tabela com os Dados</div><br/>
            </div>

            <div id="divTable">

            </div>


            <div style="text-align: center;">
                <div class="separator_black">Opções de Testagem</div><br/>
            </div>

            <div id="divTest">

                <div id="divTarget">
                    <p>Considerar o atributo target?</p>
                    <input type="radio" id="targetSim" name="atributoTarget" value="yes" checked>
                    <label for="targetSim">Sim</label><br>
                    <input type="radio" id="targetNao" name="atributoTarget" value="no">
                    <label for="targetNao">Não</label><br>
                </div>

                <div id="divMetrica">
                    <p>Métrica de avaliação</p>
                    <div id="metricaTexto">

                        <p>Acurácia: </p>
                        <p>F1 Score</p>
                    </div>

                </div>

                <div id="divExecutar">
                    <input type="button" class="form-control" id="btnExecutar" value="Executar" />
                </div>

            </div>

        </div>
    </section>

    <section class="secRepositorio">
        <div class="container">
            <div class="divTitleAbout">
                <p>Repositório do Projeto</p>
            </div>

            <p>
                Toda a análise, explicação e detalhes sobre o desenvolvimento do projeto pode ser encontrado no Repositório neste link:
                <a target="_blank" href="https://github.com/Krupique/teste-americanas">Repositório</a>
            </p>

        </div>
    </section>

    <section class="secAbout">
        <div class="container">

            <div class="divTitleAbout">
                <p>Orientações sobre o projeto</p>
            </div>


            <div class="separator_black">Como executar o projeto</div><br/>


            <p>Orientações de Uso: Você tem duas opções para carregar os dados:</p>
            <ul>
                <li>A primeira é colar os dados diretamente no campo de texto;</li>
                <li>A segunda é carregar um arquivo .CSV diretamente da sua máquina;</li>

            </ul>

            <p>
                Em ambos os casos é necessário que o arquivo tenha a seguinte estrutura: A primeira linha precisar ser o nome das colunas: Exemplo: feature0, feature1, ..., feature15, target.
            </p>
            <p>
                O arquivo precisa estar separado por , ou ; Ao executar o projeto, ele vai exibir os resultados com as métricas de avaliação Acurácia e F1-Score e em seguida realizar o download de um arquivo .csv contendo as previsões.
            </p>



            <div class="separator_black">Como visualizar as análises</div><br/>

            <p>
                As análises realizadas, explicações de conceitos e metodologia utilizada para o desenvolvimento podem ser visualizadas no diretório(pasta) notebook/:
            </p>
            <ul>
                <li>00 - analise.ipynb: Contém a análise exploratória e estatística inicial do proejeto;</li>
                <li>01 - preparacao.ipynb: Contém o pré-processamento dos dados, tratamento de outliers, feature selection, modelagem, avaliação dos resultados e deploy do modelo;</li>
            </ul>

            <p>
                NOTA: O Github não consegue exibir todas as tabelas e gráficos dos pacotes Python. Portanto, o ideal é utilizar alguma IDE para visualizar melhor todos os dados e análise completa. Por exemplo: Jupyter-notebook, Jupyter-lab ou Visual studio code.
            </p>



        </div>
    </section>

</body>

</html>