body {
    font-family: Arial, Helvetica, sans-serif;
}

.secTitle {
    width: 100%;
    background-color: rgb(248, 0, 50);
    height: 40px;
}

.secTitle div {
    margin: auto;
}

.secTitle p {
    color: white;
}

#btnExecutar,
#btnImportar {
    background: rgb(248, 0, 50);
    color: white;
}


/*####################### BODY PRINCIPAL #########################*/

.secBody {
    background-color: rgb(241, 241, 241);
    padding: 10px;
}

#divUpload {
    display: flex;
}

#uploadText {
    width: 40%;
}

#uploadText p {
    font-size: 14px;
}

#uploadText textarea {
    width: 100%;
}

#uploadOr {
    text-align: center;
    width: 20%;
}

#uploadFile {
    width: 40%;
}

#uploadFile p,
input {
    font-size: 14px;
}


/*######################## TABELA COM OS DADOS ########################*/

#divTable {
    border-collapse: collapse;
    overflow: auto;
    width: 100%;
}

thead {
    background-color: rgb(248, 0, 50);
    color: white;
}


/*#######################  OPÇÕES DE TESTAGEM ############################*/

#divTest {
    display: flex;
}

#divTarget {
    width: 30%;
}

#divMetrica {
    width: 30%;
}

#divExecutar {
    width: 30%;
}